- Categories = require "../includes/categories"
- HeaderPresenter = require "../../presenters/header"
- OverlayPresenter = require "../../presenters/overlay"
- Footer = require "../includes/footer"


.content.category-page
  = HeaderPresenter(this).template

  - category = @category
  - projects = @projects

  main(role="main")
    section

      article.projects(style="background-color: #{category.background}")

        header.category
          a.category-name
            h2.category-name=category.name
          span.category-image-container
            a.category-image
              img(src=category.img)
          p.description=category.description

          - # TODO: conditional partner stuff here (= partnerDetails)
          - # or move partners over to being the original @profiles (@slack)
          - # maybe use emoji instead of icons? what does twitter profiles do? expose urls?

        ul.projects-container
          - @projects.forEach (project) ->
            = project.template

    = Categories(this)

  = Footer(this)

  article

    = OverlayPresenter(this).template

  .beta beta
