- FeaturedProjects = require "../includes/featured-projects"
- Categories = require "../includes/categories"
- ByFogcreek = require "../includes/by-fogcreek"
- Footer = require "../includes/footer"

- HeaderPresenter = require "../../presenters/header"
- CategoryPresenter = require "../../presenters/category"
- OverlayPresenter = require "../../presenters/overlay"
- RecentProjectsPresenter = require "../../presenters/recent-projects"
- CtaButtonsPresenter = require "../../presenters/cta-buttons"
- HelpingPresenter = require "../../presenters/helping"

.content
  = HeaderPresenter(this).template

  main(role="main")
    - console.log 'render index page'

    = CtaButtonsPresenter(this).template

    = HelpingPresenter(this).template(3)

    - if @.user.cachedUser()
      = RecentProjectsPresenter(this).template

    = FeaturedProjects(this)

    - application = @
    - @selectedCategories().forEach (category) ->
      = CategoryPresenter(application, category).template

    = Categories(this)
    = ByFogcreek(this)

  = Footer(this)

  article

    = OverlayPresenter(this).template

  .beta beta
