- cat = "https://cdn.gomix.com/us-east-1%3Acba180f4-ee65-4dfc-8dd5-f143280d3c10%2Fcat.svg"

- Categories = require "../includes/categories"
- HeaderPresenter = require "../../presenters/header"
- ProjectPresenter = require "../../presenters/project"
- OverlayPresenter = require "../../presenters/overlay"
- Footer = require "../includes/footer"

- Loader = require "../includes/loader"


.content.search-results
  = HeaderPresenter(this).template

  main.search-results(role="main")

    - # ?TODO my projects (inside a profile section block)

    - # TODO article.users

    article.projects
        ul.projects-container
          - context = @
          - @searchResultsProjects().forEach (project) ->
            = ProjectPresenter(context, project, {}).template

    span(class=@self.hiddenIfSearchResultsLoaded)
      = Loader(this)
    span(class=@self.hiddenIfNoResults)
      p no results
      img(src=cat)

    = Categories(this)

  = Footer(this)

  article

    = OverlayPresenter(this).template

  .beta beta
