deleted-project-avatar-size = 32px
mediumViewport = 705px

.deleted-projects
  clear: both
  display: inline-block
  width: 100%
  vertical-align: top
  border-radius: 5px
  
  header
    float: left
    width: 22%
    @media (max-width: hugeViewport)
      width: 21%

  .deleted-projects-container
    margin: 0
    padding: 0
    list-style-type: none
    // overflow: auto
    overflow: hidden

    li
      float: left
      display: block
      margin-right: 10px
      width: 32.2%
      min-width: 300px
      position: relative
      margin-bottom: 12px
      @media (max-width: largeViewport)
        width: 32%
      @media (max-width: mediumViewport)
        width: 100%
      &:last-child
        margin-right: 0

    a
      &:hover
        text-decoration: none
      
    .down-arrow
      margin: 0
    
  .deleted-project
    background-color: #e5e5e5
    border-radius: 5px
    width: 100%
    padding: 12px
    height: 90px
    position: relative
    transition: 0.1s all
    overflow: hidden
    &:hover
      button
        background-color: secondary-background
    &:after
    	bottom: 100%
    	left: 3.5%
    	border: solid transparent
    	content: " "
    	height: 0
    	width: 0
    	position: absolute
    	pointer-events: none
    	border-bottom-color: inherit
    	border-width: 6px
    @media (max-width: largeViewport)
      &:after
      	left: 4%
    @media (max-width: mediumViewport)
      height: 60px
      &:after
      	left: 3%

    .avatar
      margin-right: 7px
      border-radius: 5px
      vertical-align: top
      display: inline
      width: deleted-project-avatar-size
      height: deleted-project-avatar-size
      max-width: deleted-project-avatar-size

    button
      margin-left: 15px

    .deleted-project-name
      display: inline-block
      margin-top: 6px
      margin-left: 6px
      max-width: calc(100% - 55px)
      font-weight: 600
      font-size: 14px
      height: 34px
      overflow: hidden
      
  .slide-up
    animation: slideUp 0.1s ease-out
    animation-fill-mode: forwards

  .deleted-project-loader {
    margin-left: 8px
  }