project-avatar-size = 32px

.deleted-projects
  clear: both
  display: inline-block
  width: 100%
  vertical-align: top
  border-radius: 5px
  padding: 16px
  
  header
    float: left
    width: 22%
    @media (max-width: hugeViewport)
      width: 21%

  .deleted-projects-container
    margin: 0
    padding: 0
    list-style-type: none
    // overflow: auto
    overflow: hidden

    li
      float: left
      display: block
      margin-right: 10px
      width: 32.2%
      position: relative
      margin-bottom: 12px
      @media (max-width: largeViewport)
        width: 32%
      @media (max-width: 592px)
        width: 100%
      &:last-child
        margin-right: 0

    a
      &:hover
        text-decoration: none
      
    .down-arrow
      margin: 0
    
  .deleted-project
    font-size: 0.9rem
    border-radius: 5px
    width: 100%
    padding: 12px
    height: p90px
    position: relative
    transition: 0.1s all
    cursor: pointer
    overflow: hidden
    &:hover
      button
        background-color: secondary-background
        box-shadow: 2px 2px 0 primary
    &:active
      button
        background-color: secondary-background-active
        box-shadow: none
    &:after
    	bottom: 100%
    	left: 3.5%
    	border: solid transparent
    	content: " "
    	height: 0
    	width: 0
    	position: absolute
    	pointer-events: none
    	border-bottom-color: inherit
    	border-width: 6px
    @media (max-width: largeViewport)
      &:after
      	left: 4%
    @media (max-width: 592px)
      height: 112px
      &:after
      	left: 3%

    .project-container
      overflow: hidden
      height: calc(100% + 12px)

    .avatar
      border-radius: 5px
      margin-right: 7px
      vertical-align: top
      display: inline
      width: project-avatar-size
      height: project-avatar-size

    button
      display: inline
      vertical-align: top

    .deleted-project-name
      display: inline-block
      margin: 6px
      max-width: 50%
      margin-left: 15px
      

  .deleted-projects-arrow
    right: 0px
    top: 2px
    padding: 10px
    padding-bottom: 8px
    border-radius: 5px
    border: 0
    wid