.emoji
  width: 16px
  height: 16px
  display: inline-block
  vertical-align: -4px
  background-repeat: no-repeat
  background-size: contain
  &.octocat
    background-image: url("https://gomix.com/images/emojis/github-logo-light.svg")
    margin-left: 4px
  &.facebook
    background-image: url("https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Ffacebook-logo.png")
    width: 15px
    margin-left: 4px
  &.balloon
    background-image: url("https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Fballoon.png")
  &.sparkles
    background-image: url("https://cdn.glitch.com/f7224274-1330-4022-a8f2-8ae09dbd68a8%2Fsparkles.png?1494859430570")
