.emoji
  width: 16px
  height: 16px
  display: inline-block
  vertical-align: -4px
  margin-left: 4px
  background-repeat: no-repeat
  background-size: contain
  &.octocat
    background-image: url("https://gomix.com/images/emojis/github-logo-light.svg")
  &.facebook
    background-image: url("https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Ffacebook-logo.png")
    width: 15px
  &.balloon
    background-image: url("https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Fballoon.png")
    margin-left: 0
