.helping
  .projects
    padding: 0
    margin: 0
  .project
    background-color: secondary-background-active
    padding: 8px
    height: initial
    min-height: 180px
    &:after
      border: none
    .overflow-mask
      background-color: secondary-background-active

    .project-container
      padding: 8px
      background-color: secondary-background
      height: initial
      border-radius: 3px
      overflow: hidden

    .tag
        background-color: help-tag
        border-radius: 5px
        padding: 3px 5px
        margin-right: 5px
        display: inline-block
        margin-bottom: 6px

  .help-icon
    vertical-align: middle
    width: 28px
    margin-bottom: -3px
    margin-left: 6px

  li
    @media (max-width: 592px)
      width: 100%
      margin-bottom: 0.6rem
      &:last-child
        margin-bottom: 0
  a
    color: primary
