.new-stuff-footer
  position: fixed
  right: 60px
  bottom: 15px
  z-index: 4
  
  .new-stuff
    display: inline-block
    cursor: pointer
    .new-stuff-avatar
      width: 50px
      height: 52px
      background-size: cover
      transform: translateY(40px)
      margin: 0
      margin-right: 10px

.new-stuff-avatar
  background-image: url('https://cdn.glitch.com/03736932-82dc-40e8-8dc7-93330c933143%2Fnew-stuff-doggo.svg?1518109941910')

.new-stuff-overlay
  .new-stuff-avatar
    width: 50px
    height: 52px
    background-size: cover
    margin: 0
    float: left
    margin-right: 10px
  .overlay-title
    margin-bottom: 8px
  article
    margin-top: 1rem
    margin-bottom: 1.5rem
    border-bottom: 1px solid secondary
    &:last-child
      margin-bottom: auto
      border:none
    p
      margin-bottom: 1rem
    .title
      margin-top: 0
      font-weight: 600
      font-size: 13px
      background-color: marketing-background
      display: inline-block
      padding: 2px 6px
      padding-top: 4px

    .body
      margin-top: 0.5rem
      margin-bottom: 1rem
      h2
        font-size: 13px
        font-weight: 600
      p
        line-height: 19px
      code
        font-family: monospace
        background-color: secondary-background-active
        font-size: 13px
      ul
        padding-left: 1.5rem
      li
        margin-bottom: 0.6rem
        &:last-child
          margin-bottom: auto
      img
        display: block
        margin-top: 1rem
        margin-bottom: 1rem
        max-width: 100%
    .image
      border-radius: 5px
      
  .button-small
    border-radius: 5px
    font-weight: 600
    font-size: 12px
    padding: 4px 8px
    padding-top: 5px
    margin-left: 10px
    &.has-emoji
      padding-top: 4px
      padding-bottom: 3px
    .emoji
      width: 16px
      height: 16px
    .button-checkbox
      vertical-align: -2px
      width: auto

      
      
tooltip-vertical-offset = 6px
tooltip-arrow-size = 5px

.touch
  [data-tooltip]::before,
  [data-tooltip]::after
    display:none

[data-tooltip]
  position: relative
  box-sizing: border-box

  &::before,
  &::after
    border: none
    box-sizing: inherit
    display: inline-block
    font-style: normal
    font-weight: normal
    opacity: 0
    pointer-events: none
    position: absolute
    transform: translateX(50%)
    right: 50%
    text-align: center
    text-decoration: none
    text-shadow: none
    text-transform: none
    top: 100%
    transition: opacity 0.2s step-start 100ms
    visibility:hidden
    z-index: 12

  // tooltip body
  &::before
    background: tooltip-background
    border-radius: 5px
    font-size: 12px
    padding: 6px 8px
    color: background-color
    content: attr(data-tooltip)
    margin-top: 5px
    white-space: pre
    word-wrap: break-word

  // tooltip pointer
  &::after
    border: 5px solid transparent
    border-bottom-color: tooltip-background
    content: ''
    margin-top: -5px

  &:hover::before,
  &:hover::after
    visibility:visible
    opacity:1

[data-tooltip-left]
  &::before,
  &::after
    transform: translateX(85%)
    right: 20px

[data-tooltip-project-pop]
  &::before,
  &::after
    transform: translateX(-10%)
    left: 15px
    right: initial

[data-tooltip-right]
  &::before,
  &::after
    transform: translateX(10%)
    right: 42%

[data-tooltip-embed-helper]
  &::before,
  &::after
    transform: translateX(55%)
    right: initial
    left: 15%
    top: -135%
  &::after
    transform: rotate(180deg) translateX(-5px) translateY(-34px)
  &::before
    left: -170%
    top: -36px


[data-tooltip-top]
  &::before,
  &::after
    top: -80%
    right: 45px
    transform: translateX(75%)
  &::before
    background-color: notification
  &::after
    border-top-color: notification
    border-bottom-color: transparent
    margin-top: 31px
    right: 35px

[data-tooltip-persistent]
  &::before,
  &::after
    visibility:visible
    opacity:1
    font-weight: bold

[data-tooltip-error]
  &::before
    background-color: error
  &::after
    border-top-color: error

[data-tooltip-hidden]
  &:hover::before,
  &:hover::after
    visibility:hidden
    opacity:0
