defaultCover = "https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Fdefault-cover.svg"

pop-shadow = 0px 2px 5px 0px rgba(0,0,0,0.27), 0px 1px 1px 0px rgba(0,0,0,0.15)

.overlay-background,
.overlay-video-background
  // overflow: scroll
  overflow-x: auto
  -webkit-overflow-scrolling: touch
  background-color: overlay-background
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 0
  z-index: 10
  cursor: default

  .overlay
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    background-color: background-color
    color: primary
    border: 2px primary solid
    border-radius: 5px
    max-width: 640px
    width: 94%
    max-height: 85%
    height: initial
    overflow-y: auto
    display: block
    position: relative
    top: 50%
    transform: translateY(-50%)
    padding: 0
    margin-left: auto
    margin-right: auto
    box-shadow: pop-shadow
    &:focus
      outline: transparent
    // .user-names
    //   display: none
    .users,
    .project-users
      margin-top: 0

    section
      padding: 12px
      padding-top: 14px
      padding-bottom: 14px
    .avatar
      vertical-align: middle
      margin-right: 5px
    .overlay-title
      font-weight: bold
      display: inline-block
    a
      color: general-link
      // &:hover
      //   text-decoration: none
    .show-app
      //vertical-align: -3px
      img
        vertical-align: -3px
    .has-buttons
      padding-bottom: 0
      button,
      .button
        margin-bottom: 14px
        margin-right: 0.5rem

  .editor-actions
    background-image: url(defaultCover)
        
  .pop-over-actions
    margin: 0
    border-bottom: 1px solid secondary
    position: relative
    .button
      display: inline-block
  
    .button-link
      color: primary
  
  .pop-over-info
    margin: 0
    background-color: secondary-background
    border-bottom: 1px solid secondary
    border-top-left-radius: 3px
    border-top-right-radius: 3px
    .pop-title
      font-size: 14px
      font-weight: bold
  
  .last-section
    border-bottom: none

  // wistia embed styling
  .wistia_responsive_padding
    padding: 56.25% 0 0 0
    position: relative

  .wistia_responsive_wrapper
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%

  .wistia_embed
    height: 100%
    width: 100%

.new-stuff-overlay
  .new-stuff-avatar
    background-image: url('https://cdn.glitch.com/03736932-82dc-40e8-8dc7-93330c933143%2Fnew-stuff-doggo.svg?1518109941910')
    width: 50px
    height: 52px
    background-size: cover
    margin: 0
    float: left
    margin-right: 10px
  .overlay-title
    margin-bottom: 8px
  article
    margin-top: 1rem
    margin-bottom: 1.5rem
    border-bottom: 1px solid secondary
    &:last-child
      margin-bottom: auto
      border:none
    p
      margin-bottom: 1rem
    .title
      margin-top: 0
      font-weight: 600
      font-size: 13px
      background-color: marketing-background
      display: inline-block
      padding: 2px 6px
      padding-top: 4px

    .body
      margin-top: 0.5rem
      margin-bottom: 1rem
      h2
        font-size: 13px
        font-weight: 600
      p
        line-height: 19px
      code
        font-family: monospace
        background-color: secondary-background-active
        font-size: 13px
      ul
        padding-left: 1.5rem
      li
        margin-bottom: 0.6rem
        &:last-child
          margin-bottom: auto
      img
        display: block
        margin-top: 1rem
        margin-bottom: 1rem
        max-width: 100%
    .image
      border-radius: 5px
      
  .button-small
    border-radius: 5px
    font-weight: 600
    font-size: 12px
    padding: 4px 8px
    padding-top: 5px
    margin-left: 10px
    &.has-emoji
      padding-top: 4px
      padding-bottom: 3px
    .emoji
      width: 16px
      height: 16px
    .button-checkbox
      vertical-align: -2px
      width: auto
