// defaultUserBackground = "https://cdn.gomix.com/01a72eba-647e-4abf-abe6-89b02e388a7f%2Fdefault-user-background.svg"
defaultCover = "https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Fdefault-cover.svg"
anonAvatar = "https://cdn.gomix.com/01a72eba-647e-4abf-abe6-89b02e388a7f%2Fanon-avatar.svg"

.profile
  padding-bottom: 1rem

  .recent-projects
    background-image: url(defaultCover)
    border-radius: 5px
    padding: 16px
    overflow: auto
    
    .user-names
      display: none
  
  .profile-info
    width: 22%
    float: left
    margin-top: 0
    margin-right: 3%
    @media (max-width: 800px)
      width: 34%
      float: none
      margin-bottom: 1rem
    @media (max-width: 400px)
      width: 45%

  .user-avatar-container
    width: 80%

  .user-avatar
    width: 81%
    height: 0
    padding-bottom: 80%
    margin-bottom: 1rem
    border-radius: 5px
    background-size: contain
    background-repeat: no-repeat
    img
      max-width: 100%
      border-radius: 5px
    
  .anon-user-avatar
    background-image: url(anonAvatar)
    background-position: center
    background-size: 65%
    background-color: cyan

  .projects
    display: inline
    padding: 0
    
  .project:after
    border-bottom-color: section-line