.users
  display: inline-block
  margin-top: 10px
  margin-bottom: 10px
  vertical-align: middle

  .user
    display: inline-block
    img
      width: 32px
      height: auto
      position: relative
      display: inline
      border-radius: inherit
    &:first-child
      border-top-left-radius: 5px
      border-bottom-left-radius: 5px
    &:last-child
      border-top-right-radius: 5px
      border-bottom-right-radius: 5px
      
.user-names
  display: inline-block
  margin-left: 6px
  font-size: 14px
  margin-bottom: 5px;

