section.categories(role="navigation")
  h2 More Ideas
  ul
    - @categories().forEach (category) ->
      a.category-box-link(href=category.url)
        li
          .category-box.centered(style="background-color: #{category.color}")
            img(src=category.img)
          .category-box-label.centered(style="background-color: #{category.color}")= category.name
