section.cta-buttons


  button.button.has-emoji.opens-pop-over(click=@toggleCtaPop) Start a New Project
    .emoji.sparkles
  = @ctaPop

  a(href="https://glitch.com/edit/" data-track="cta → resume coding" class=@hiddenUnlessIsSignedIn)
    .button.button-cta Resume Coding
