section.cta-buttons

  a(href="https://glitch.com/edit/#!/new-project" onclick=@trackNewProject)
    button.has-emoji New Project
      .emoji.sparkles

  a(href="https://glitch.com/edit/" data-track="cta → resume coding" class=@hiddenUnlessIsSignedIn)
    button.button-cta Resume Coding
