- play = "https://cdn.hyperdev.com/6ce807b5-7214-49d7-aadd-f11803bc35fd%2Fplay.svg"

- SignInPopPresenter = require "../../presenters/sign-in-pop"
- UserOptionsPopPresenter = require "../../presenters/user-options-pop"

header(role="banner")
  .header-info
    a(href=@baseUrl)
      img.logo(src=@logo)
    //if !user.isSignedIn
    h1.headline(class=@hiddenIfUserIsSignedIn)
      a(href=@baseUrl)
        span= "Glitch"
      span= " "
      span is the friendly community where you'll build the app of your dreams

    span(class=@hiddenIfUserIsSignedIn)
      p.about With working example apps to remix, a code editor to modify them, instant hosting and deployment - anybody can build a web app on Glitch, for free. 
        a(href="https://glitch.com/about") Learn more
      p.video(click=@showVideoOverlay)
        img.play-button(src=play)
        span How it works in 2 minutes

  nav(role="navigation")
    form(action="#{@baseUrl}search" method="get" role="search")
      input.search-input(name="q" placeholder="bots, apps, tutorials" value=@application.searchQuery)

    span(class=@hiddenIfUserIsSignedIn)
      button.button-small.opens-pop-over(click=@toggleSignInPopVisible) Sign in
      span(class=@popHiddenUnlessSignInPopVisible)
        = SignInPopPresenter(@.application).template
    .user-options-pop-button.opens-pop-over(class=@hiddenUnlessUserIsSignedIn click=@toggleUserOptionsPopVisible data-tooltip="User options")
      .user
        img(src=@userAvatar width=30 height=30)
        span.down-arrow.icon
      = UserOptionsPopPresenter(@.application).template

      // TODO show user avatar and link to profile page if signed in
