- ProjectResultPresenter = require "../../presenters/project-result"
- bentoBox = 'https://cdn.glitch.com/55f8497b-3334-43ca-851e-6c9780082244%2Fbento-box.png?1502469566743'

dialog.pop-over.results-list.analytics-projects-pop.disposable(click=@stopPropagation)

  section.pop-over-info
    input#analytics-project-search.pop-over-input.search-input.pop-over-search(input=@filter keyup=@spacekeyDoesntClosePop placeholder="Filter projects")

  section.pop-over-actions.last-section
    ul.results
      .result-container(class=@activeIfAllProjects click=@selectAllProjects)
        li.result
          .result-information
            img.result-avatar(src=bentoBox)
            .result-name All Projects

      - options = {}
      - analytics = @analytics
      - @teamProjects().forEach (project) ->
        = ProjectResultPresenter(application, project, options, analytics)
