dialog.pop-over.user-options-pop(class=@hiddenUnlessUserOptionsPopVisible click=@stopPropagation)

  - # start coding

  - # my profile
  - # @pketh

  section.pop-over-info.last-section.section-has-tertiary-buttons
    a.button-link(href="#")
      button.button-small.has-emoji.button-tertiary.button-on-secondary-background
        span Sign Out
        span.emoji.balloon
