dialog.pop-over.user-options-pop(class=@hiddenUnlessUserOptionsPopVisible click=@stopPropagation)

  - # start coding

  - # my profile
  - # @pketh

  - # section.pop-over-info
  - #   .pop-title hello pketh

  section.pop-over-actions
    a.button-link(href="https://glitch.com/edit")
      button.button-cta.button-small Edit Code

  section.pop-over-info.last-section.section-has-tertiary-buttons
    a.button-link(click=@signOut)
      button.button-small.has-emoji.button-tertiary.button-on-secondary-background
        span Sign Out
        span.emoji.balloon
