.search-results
  .projects
    .projects-container
      border-radius: 5px

  .about
    display: none
  

  //.header-info
  //  float: none
  //    
  //nav
  //  float: none
  //  margin-top: 1.5rem
