article.projects
  h2
    span Deleted Projects
      span.emoji.bomb
      span.down-arrow
      .project-options.button-borderless.opens-pop-over.hidden(click=@showProjectOptionsPop class=@visibleIfUserHasProjectOptions)
        .down-arrow

  ul.projects-container
    - @deletedProjectsObservable.forEach (project) ->
      li.deleted-project
        img.avatar(src=project.avatar alt="#{project.domain()} avatar")
        = project.domain
        button(click=@undeleteProject) Undelete
