article.projects
  h2
    span= "Deleted Projects"
  ul.projects-container
    - @deletedProjectsObservable.forEach (project) ->
      li
        img.avatar(src=project.avatar alt="#{@project.domain()} avatar")
        button "Undelete
          span.private-project-badge
          .project-name=@project.domain
      li= JSON.stringify project
