.analytics  
  .chart-container
    background-color: secondary-background
    border-radius: 5px
    padding: 12px
    h3
      margin-top: 5px
      display: inline-block
      vertical-align: -2px
    button,
    .button
      margin-left: 5px
